<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!edit"> Add Todo</ion-title>
    <ion-title *ngIf="edit"> Edit Todo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>

<ion-item>
  <ion-label floating>Name</ion-label>
  <ion-input type="text" [(ngModel)]="todo.name" ></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Notes</ion-label>
  <ion-textarea rows="4" type="text" [(ngModel)]="todo.notes"></ion-textarea>
</ion-item>

</ion-list>

 <button ion-button type="submit" (click)="saveTodo()" >Save</button>
 <button ion-button navPop *ngIf="edit">Back</button>


</ion-content>
